# Projet Big Data - Groupe 5

L'Objectif du TP : 
Analyser des donn√©es provenant de plusieurs fichiers csv en utilisant les architectures Hadoop et Spark.

Membres du groupe :
- Jean TALGORN--THOMAS
- Benjamin PRADON
- Nassim AKIF
- Salim BAMBA
- Sophie PHOUANGSY
- Abdenour BENSOUNA
- Sarah PINTO

In [6]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [8]:
path = "./data/stockx/stockx-0001.csv"
# data = spark.read.load("/data/stockx/", format="csv", header=True, inferSchema="True")
df = spark.read.load(path, format="csv")
df.dtypes

[('_c0', 'string'),
 ('_c1', 'string'),
 ('_c2', 'string'),
 ('_c3', 'string'),
 ('_c4', 'string'),
 ('_c5', 'string'),
 ('_c6', 'string'),
 ('_c7', 'string')]

In [10]:
df = spark.read.format('csv').options(header=True).load(path)
df.dtypes

[('Order Date', 'string'),
 ('Brand', 'string'),
 ('Sneaker Name', 'string'),
 ('Sale Price', 'string'),
 ('Retail Price', 'string'),
 ('Release Date', 'string'),
 ('Shoe Size', 'string'),
 ('Buyer Region', 'string')]

In [12]:
df = spark.read.format('csv').options(header=True, inferSchema=True).load(path)
df.dtypes

[('Order Date', 'string'),
 ('Brand', 'string'),
 ('Sneaker Name', 'string'),
 ('Sale Price', 'string'),
 ('Retail Price', 'string'),
 ('Release Date', 'string'),
 ('Shoe Size', 'double'),
 ('Buyer Region', 'string')]

In [14]:
df.take(5)

[Row(Order Date='"9/1/17, Yeezy,Adidas-Yeezy-Boost-350-Low-V2-Beluga,""$1', Brand='097""', Sneaker Name='$220', Sale Price='9/24/16', Retail Price='11', Release Date='California"', Shoe Size=None, Buyer Region=None),
 Row(Order Date='9/1/17', Brand=' Yeezy', Sneaker Name='Adidas-Yeezy-Boost-350-V2-Core-Black-Copper', Sale Price='$685', Retail Price='$220', Release Date='11/23/16', Shoe Size=11.0, Buyer Region='California'),
 Row(Order Date='9/1/17', Brand=' Yeezy', Sneaker Name='Adidas-Yeezy-Boost-350-V2-Core-Black-Green', Sale Price='$690', Retail Price='$220', Release Date='11/23/16', Shoe Size=11.0, Buyer Region='California'),
 Row(Order Date='"9/1/17, Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red,""$1', Brand='075""', Sneaker Name='$220', Sale Price='11/23/16', Retail Price='11.5', Release Date='Kentucky"', Shoe Size=None, Buyer Region=None),
 Row(Order Date='9/1/17', Brand=' Yeezy', Sneaker Name='Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017', Sale Price='$828', Retail Price='$220', Release Date='2/11/17', Shoe Size=11.0, Buyer Region='Rhode Island')]